@model Club

@{
    Layout = "_Layout";
    ViewBag.Title = "Club profile";
}

<div style="margin: 10px">
    <div>Name: @Model.Name</div>
    <div>Id: @Model.Id</div>
    <div>Creater: @ViewBag.NameCreaterOfClub</div>
    <div>
        <h5>Members</h5>
        @foreach (UserProfile user in Model.Members)
        {
            <div>@user.UserName</div>
        }
    </div>
    @if (Model.ChatClub != null)
    {
        <a asp-action="ChattingRoom" asp-controller="Chat" asp-route-chatId="@Model.ChatClub.Id">Chat</a>
    }
</div>